.hero-img {
    max-width:100%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-img {
        max-width: 650px;
    }
}

.blue-title {
    color: #5e62ff;
}

.communities-icon {
    max-width: 96px;
}

.img-150 {
    width: 150px;
    height: auto;
}

.counter-bg {
    background-color: #122B54;
}

.footer {
    background-color: #5e62ff;
}

.img-100 {
    max-height: 100px;
}

.f-32 {
    font-size: 32px;
}